<section class="section route" id="timeline-route">
  <div class="container">
    <h1 class="title">Timeline</h1>
    <h2 class="subtitle">
      Important Dates
    </h2>
    <table class="table">
      <tr>
        <th>Submission Due</th>
        <td>September 30, 2017</td>
      </tr>
      <tr>
        <th>1st Round Notification</th>
        <td>November 30, 2017</td>
      </tr>
      <tr>
        <th>Final Notification</th>
        <td>January 31, 2018</td>
      </tr>
      <tr>
        <th>Conference Date</th>
        <td>April 5th and 6th 2018</td>
      </tr>
      <tr>
        <th>Publication</th>
        <td>October 31, 2018</td>
      </tr>
    </table>
  </div>
</section>
